body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(196, 55, 55);
  }

  #age-verification-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 9999;
  }
  #age-verification-popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(162, 43, 198);
    padding: 2em;
    border-radius: 4em;
    text-align: center;
    font-size: large;
  }
  button { 
    font-size: large;
  }
  /* Hero Image */
  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/C2.png");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  /* Details Section */ 
  .container-detail {
    border: none;
    margin: auto;
    text-align: center;
    font-size: 24px;
  }
  /* 4 Pic Display */
  .flexbox-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .flexbox-item {
    flex: 25%;
    padding: 1px;
  }

  .flexbox-item img {
    height: 30rem;
  }
/* Rates */
  .columns {
  flex: 33.3%;
}

.price {
  list-style-type: none;
  border: 1px;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price .header {
  background-color: #000000;
  color: white;
  font-size: 30px;
}

.price li {
  border-bottom: 1px solid #d38686;
  padding: 20px;
  text-align: center;
  font-style: italic;
}

.price .grey {
  background-color: #e47d41;
  font-size: 25px;
  font-weight: bold;
}

.price .subheader {
  background-color: #df3838;
  font-size: 25px;
}

.rates {
    display: flex;
    font-size: 24px;
}

/* Contact Me */

.container-contact {
    border: none;
    text-align: center;
    position: relative;
    background-position: center;
    font-size: 24px;
}

.container-form {
  border: solid;
  border-color: black;
  text-align: center;
  position: relative; 
}

form {
  max-width: 500px;
  margin: 150px auto;
}

fieldset {
  padding: 30px;
  font-weight: bold;
  border: solid plum;
}

input,
textarea,
button {
  width: 100%;
  background-color: rgb(241, 230, 230);
}

.main-footer {
    border: none;
    padding: 5px;
    margin-top: 5px;
    margin: 5px 0;
    text-align: center;
    position: relative;
}